<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_DATABASE" value="pawpass_testing"/>
        <env name="DB_USERNAME" value="sail"/>
        <env name="DB_PASSWORD" value="password"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="STRIPE_SECRET" value="sk_test_placeholder"/>
        <env name="STRIPE_WEBHOOK_SECRET" value="whsec_test_placeholder"/>
        <env name="STRIPE_BILLING_SECRET" value="sk_test_billing_placeholder"/>
        <env name="STRIPE_BILLING_WEBHOOK_SECRET" value="whsec_billing_placeholder"/>
        <env name="TWILIO_SID" value="test_sid"/>
        <env name="TWILIO_TOKEN" value="test_token"/>
        <env name="TWILIO_FROM" value="+15005550006"/>
        <env name="RESEND_API_KEY" value="re_test_placeholder"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="LOG_CHANNEL" value="null"/>
        <env name="PENNANT_STORE" value="array"/>
    </php>
</phpunit>
